@use '../utilities' as *;

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input, button{
    font: inherit;
}

body, html{
    height: 100vh;
    background: $lightGray;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.main-heading{
    @include typography(1.375rem, $darkBlue);
}

.plain-text{
    @include typography(0.9375rem, $grayishBlue);
}